[submodule "OpenRGB"]
	path = OpenRGB
	url = https://gitlab.com/CalcProgrammer1/OpenRGB.git
[submodule "third_party/miniaudio"]
	path = third_party/miniaudio
	url = https://github.com/mackron/miniaudio.git
[submodule "OpenRGBEffectsPlugin"]
	path = OpenRGBEffectsPlugin
	url = https://gitlab.com/OpenRGBDevelopers/OpenRGBEffectsPlugin.git
